h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
button,
input,
textarea,
p {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

a {
  font-weight: bold;
  color: #0075ff;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.input {
  font-size: 14px; }

.nav {
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 83px 0 80px; }
  .nav__item {
    padding: 8px 22px;
    margin: 0 20px;
    list-style: none;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
    .nav__item-active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px; }
  .nav__link {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    font-size: 12px;
    font-style: bold;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #9fadc2; }

@media screen and (max-width: 1050px) {
  .nav__item {
    margin: 0 5px; } }

@media screen and (max-width: 899px) {
  .nav__list {
    display: none; } }

.header {
  overflow: hidden;
  position: relative;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  padding: 56px 120px 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .header__phone-img {
    display: none;
    background-image: url(../images/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 39px;
    left: 22px; }
  .header__hamburger {
    z-index: 2;
    display: none;
    background-image: url(../images/hamburger.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 12px;
    position: absolute;
    top: 42px;
    right: 22px; }
  .header__toggle {
    visibility: hidden;
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 16px;
    z-index: 5; }
    .header__toggle:checked ~ .mobile-nav {
      visibility: visible;
      opacity: 1; }
    .header__toggle:checked ~ .header__hamburger {
      background-image: url(../images/crest.png); }
    .header__toggle:checked ~ .header__phone-img {
      visibility: hidden; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 56px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff; }
  .header__phone {
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .header__order-link {
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__order-link:hover {
      color: #9fadc2; }
  .header__title {
    position: absolute;
    bottom: 165px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #fff; }
  .header__title:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 35px;
    height: 2px;
    background-color: #fff; }

@media screen and (max-width: 899px) {
  .header {
    height: 568px;
    padding: 39px 20px 0; }
    .header__hamburger, .header__phone-img {
      display: block; }
    .header__toggle {
      visibility: visible; }
    .header__logo {
      width: 73px;
      height: 48px; }
    .header__phone {
      display: none; }
    .header__order-link {
      display: none; }
    .header__title {
      bottom: 80px; } }

.logo {
  position: absolute;
  width: 115px;
  height: 76px;
  z-index: 3;
  background-image: url("../images/logo.png");
  left: 50%;
  top: 24px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.section {
  position: relative;
  padding: 152px 120px 0; }
  .section__heading {
    margin: 0 auto 93px; }

@media screen and (max-width: 899px) {
  .section {
    padding: 64px 20px 0; }
    .section__heading {
      margin: 0 auto 53px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .info__heading {
    font-family: Roboto, sans-serif;
    font-style: normal;
    margin: 0 192px 0 0;
    font-size: 48px;
    line-height: 48px; }
  .info__link {
    color: #0075ff;
    text-decoration: none; }

@media screen and (max-width: 899px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      margin: 0 0 48px;
      font-size: 36px;
      line-height: 36px; } }

.gallery {
  max-width: 1020px;
  margin: 0 auto; }
  .gallery__caption {
    margin: 24px 0 40px; }
  .gallery__button {
    margin: 0 auto;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    .gallery__button:hover {
      cursor: pointer;
      background-color: #0075ff;
      color: #fff;
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

@media screen and (max-width: 899px) {
  .gallery {
    max-width: 100vw; }
    .gallery__button.button {
      width: 100%;
      max-width: 280px; } }

.heading {
  letter-spacing: -1.5px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px; }
  .heading:after {
    position: absolute;
    content: "";
    background-image: url("../images/crown.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 16px;
    top: calc(100% + 7px);
    right: calc(50% - 11.5px); }

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px; }
  .photos__img {
    width: 100%;
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.photos-wide-left {
  grid-template-columns: 2fr 1fr; }

.photos-wide-right {
  grid-template-columns: 1fr 2fr; }

@media screen and (max-width: 899px) {
  .photos,
  .photos-wide-left,
  .photos-wide-right {
    row-gap: 20px;
    grid-template-columns: 1fr; }
    .photos__img,
    .photos-wide-left__img,
    .photos-wide-right__img {
      height: calc((100vw - 60px) / 2); } }

.button {
  display: block;
  width: 188px;
  height: 56px;
  text-align: center;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  color: #0075ff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px; }

.h3-heading {
  font-weight: bold;
  color: #0075ff;
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 30px; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .consultation__text {
    width: 412px;
    margin-right: 194px; }
  .consultation__form {
    width: 413px; }

@media screen and (max-width: 1050px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .consultation__text {
      margin: 0 auto;
      max-width: 87.5vw; }
    .consultation__form {
      max-width: 87.5vw; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px; }
  .form__item {
    margin-bottom: 16px; }
  .form__input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 17px;
    border: none;
    height: 48px; }
  .form__textarea {
    resize: none;
    height: 144px;
    font-family: "Roboto", sans-serif;
    font-size: 14px; }
  .form__button, .form__input {
    width: 100%; }
  .form__button {
    margin: 16px auto 0;
    max-width: 280px;
    background-color: #fff;
    color: #0075ff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    .form__button:hover {
      cursor: pointer;
      background-color: #0075ff;
      color: #fff;
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.testimonials {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-column-gap: 150px;
     -moz-column-gap: 150px;
          column-gap: 150px; }

@media screen and (max-width: 1200px) {
  .testimonials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0; } }

@media screen and (max-width: 899px) {
  .testimonials {
    grid-template-columns: 240px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px; } }

.person {
  width: 240px;
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%; }
  .person__position {
    color: #9fadc2;
    font-size: 14px;
    line-height: 27px; }
  .person__text {
    color: #3e3e3e;
    line-height: 27px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contact__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 27px; }
  .contact__info-block {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    margin-right: 80px; }
    .contact__info-block > a {
      font-weight: normal;
      color: black; }
  .contact__heads {
    color: #9fadc2; }
  .contact__form {
    margin-top: 12px;
    width: 423px; }

@media screen and (max-width: 1050px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact__information {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 413px; }
    .contact__info-block {
      margin-bottom: 24px; }
    .contact__form {
      max-width: 413px;
      width: 100%; } }

.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 360px;
  margin-top: 64px;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center; }
  .footer__logo {
    top: 243px; }

@media screen and (max-width: 899px) {
  .footer {
    margin-top: 64px;
    height: 206px; }
    .footer__logo {
      width: 77px;
      height: 50px;
      top: 132px; }
      .footer__logo::before, .footer__logo::after {
        display: none; } }

.mobile-nav {
  visibility: hidden;
  opacity: 0;
  padding: 120px 0 0 21px;
  width: 100vw;
  height: 568px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0075ff;
  z-index: 1;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s; }
  .mobile-nav__list {
    list-style: none; }
  .mobile-nav__item {
    padding-bottom: 32px; }
  .mobile-nav__link {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
  .mobile-nav__phone {
    display: block;
    margin-bottom: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .mobile-nav__order-link {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
